*{
	margin:0.;
	padding:0em;
	font-family: 'Noto Serif Display', serif;
}
.header{
	min-height:100vh;
	width:100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)), url('../img/leisara-creative-studio-MmauxxZGg4A-unsplash.jpg');
    background-position: center;
    background-size: cover;	
	position: relative;
}

/*------projects------*/
.projects{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 150px;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #7FFF00;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.text-box{
	width: 90%;
	color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.text-box h1{
	font-size: 62px ;
	color: #FFA07A !important;
}
.text-box p{
	margin: 10px 0 40px;
    font-size: 20px ;
    color: #F0FFF0;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #7fff00;
	border: 2px solid #fff;
	padding: 12px,34px;
	font-size: 16px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #2f4f4f;
    background: #2f4f4f;
    transition: 1s;
 }
 h1{
	font-size: 35px;
	font-weight: 600;
	color: #dc143c;
	
}
p{
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
#section2heading{
	text-decoration: underline;
	line-height: 10%;
}

nav.fa{
	display: none;
 }

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.projects-col{
	flex-basis: 31%;
	background: #fffacd;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.projects-col:hover{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/*--------blog------*/
 .blog{
 	width: 80%;
 	margin: auto;
 	text-align: center;
 	padding-top: 50px;
 }


@media(max-width: 700px){
	.text-box h1{
		font-size: 20px;
	}
    .nav-links ul li{
    	display: block;
    }
    .nav-links{
    	position: absolute;
    	background: #008080;
    	height: 100vh;
    	width: 200px;
    	top: 0;
    	right: -200px;
    	text-align: left;
    	z-index: 2;
    	transition: 1s;
    }
    nav .fa{
    	display: block;
    	color: #7cfc00;
    	margin: px;
    	font-size: 22px;
    	cursor: pointer;
    }
    .nav-links ul{
    	padding: 30px;
}
 
 @media(max-width: 700px){
 	.row{
 		flex-direction: column;
 	}
 }
















